<div class="main-body">
    <div class="grid-container">
        <div class="box" style="grid-area: box-1">
            <div class="box-1-container">
                <div class="image-box">
                    <img src="assets/img/IMG_7116.jpg"/>
                </div>
                <div class="intro-box">
                    <div class="status-box">
                        <p class="open-box">Available To Work</p>
                    </div>
                    <div class="name-box">
                        <div class="name">
                            <p>Ram Rainier Masubay Belleza</p>
                        </div>
                    </div>
                    <div class="occupation-box">
                        <div class="occupation">
                            <p>I'm a <strong>Software Developer</strong></p>
                        </div>
                    </div>
                </div>
                <div class="trait-box">
                    <div class="ethnicity-box">
                        <p><img src="assets/icons/globe.png">Filipino & English</p>
                    </div>
                    <div class="location-box">
                        <p><img src="assets/icons/pin.png">Philippines</p>
                    </div>
                    <div class="age-box">
                        <p><img src="assets/icons/calendar.png">24 years old</p>
                    </div>
                    <div class="dance-box">
                        <p><img src="assets/icons/man-dancing-.png">Dancing</p>
                    </div>
                    <div class="video-box">
                        <p><img src="assets/icons/video-camera.png">Video Editing</p>
                    </div>
                    <div class="design-box">
                        <p><img src="assets/icons/image-gallery.png">Graphic Design</p>
                    </div>
                </div>
                <div class="link-box">
                    <button class="resume">
                        <span>
                            <a href="assets/files/Belleza, Ram Rainier M - CV.pdf" download>
                                <img src="assets/icons/download.png">
                            </a>
                        </span>
                    </button>
                    <button class="email">
                        <span><img src="assets/icons/envelope.png"></span>
                        <span><a href="mailto:work.bramrainier@gmail.com">Hire Me</a></span>
                    </button>
                    <button class="github">
                        <span><img src="assets/icons/github.png"></span>
                        <span><a href="https://github.com/yohpooh">Github</a></span>
                    </button>
                    
                    <!--
                    <a href="assets/files/Belleza, Ram Rainier M - CV.pdf" download class="resume">
                        <img src="assets/icons/icons8-download-32.png">
                    </a>
                    <a href="mailto:work.bramrainier@gmail.com" class="email">
                        <img src="assets/icons/icons8-email-48.png">
                        <span>Hire Me</span>
                    </a>
                    <a href="https://github.com/yohpooh" class="github">
                        <span><img src="assets/icons/icons8-github-50.png"></span>
                        <span>Github</span>
                    </a>
                    <button class="resume"><img src="assets/icons/icons8-download-32.png">Download CV</button>
                    <button class="email"><img src="assets/icons/icons8-email-48.png">Hire Me</button>
                    <button class="github"><img src="assets/icons/icons8-github-50.png">Github</button>
                    -->
                </div>
            </div> 
        </div>
        <div class="box" style="grid-area: box-2">
            <div class="box-2-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/technical-service.png"></span>
                        <span class="s2">Services</span>
                    </h4>
                    <p>My services and experience that might help you.</p>
                </div>
                <div class="body-container">
                    <div class="scroller-left">
                        <div class="scroller-slide-left">
                            <div class="item-left">Web Development</div>
                            <div class="item-left">Website Rework</div>
                            <div class="item-left">Software Development</div>
                            <div class="item-left">Game Development</div>
                            <div class="item-left">Video Editing</div>
                            <div class="item-left">Graphic Design</div>
                        </div>
                        <div class="scroller-slide-left">
                            <div class="item-left">Web Development</div>
                            <div class="item-left">Website Rework</div>
                            <div class="item-left">Software Development</div>
                            <div class="item-left">Game Development</div>
                            <div class="item-left">Video Editing</div>
                            <div class="item-left">Graphic Design</div>
                        </div>
                    </div>

                    <div class="scroller-right">
                        <div class="scroller-slide-right">
                            <div class="item-right">Web Development</div>
                            <div class="item-right">Website Rework</div>
                            <div class="item-right">Software Development</div>
                            <div class="item-right">Game Development</div>
                            <div class="item-right">Video Editing</div>
                            <div class="item-right">Graphic Design</div>
                        </div>
                        <div class="scroller-slide-right">
                            <div class="item-right">Web Development</div>
                            <div class="item-right">Website Rework</div>
                            <div class="item-right">Software Development</div>
                            <div class="item-right">Game Development</div>
                            <div class="item-right">Video Editing</div>
                            <div class="item-right">Graphic Design</div>
                        </div>
                    </div>
                    
                    <!--
                    <script>
                        var copyLeft = document.querySelector(".scroller-slide-left").cloneNode(true);
                        document.querySelector(".scroller-left").appendChild(copyLeft);
                    </script>
                    <div class="scroller-one">
                        <ul class="scroll scroller-inner-one">
                            <li>Web Development</li>
                            <li>Website Rework</li>
                            <li>Software Development</li>
                            <li>Game Development</li>
                            <li>Video Editing</li>
                            <li>Graphic Design</li>
                        </ul>
                    </div>
                    <div class="scroller-two">
                        <ul class="scroll scroller-inner-two">
                            <li>Web Development</li>
                            <li>Website Rework</li>
                            <li>Software Development</li>
                            <li>Game Development</li>
                            <li>Video Editing</li>
                            <li>Graphic Design</li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="box test" style="grid-area: box-3">
            <div class="box-3-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/portfolio.png"></span>
                        <span class="s2">Personal Projects</span>
                    </h4>
                    <p>Here are some of personal projects I have worked on.</p>
                </div>
                <div class="box-3-body-container">
                    <p>To be added..</p>
                    <!-- BOX-3-->
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-4">
            <div class="box-4-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/blocks.png"></span>
                        <span class="s2">My Tech Stack</span>
                    </h4>
                    <p>The tech stack that I've experience in professional field.</p>
                </div>
                <div class="box-4-body-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur, impedit quidem eius eos dolor enim ipsam ad earum, dolores repellendus magnam aliquam in saepe sequi aperiam corporis consequuntur nisi?</p>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="box" style="grid-area: box-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="box" style="grid-area: box-7">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="box" style="grid-area: box-8">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam, ut necessitatibus pariatur suscipit molestias illo natus hic nisi eveniet repudiandae quidem in tempora magni laborum et similique nobis quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquid quo fuga debitis reiciendis veniam nisi! Debitis amet accusamus nulla eum molestias assumenda blanditiis quas vel quidem, tempora consequuntur temporibus.
        </div>
        <div class="box" style="grid-area: box-9">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit vero minima asperiores aut, laboriosam eos dignissimos qui hic consequatur perferendis ipsum, aperiam ea neque architecto deserunt tempora quam repudiandae ullam.
        </div>
        <div class="box" style="grid-area: box-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur amet error dolor sed voluptatum nulla provident, dicta earum cupiditate? Rerum, voluptas deleniti. Mollitia voluptas iste eaque vitae perspiciatis expedita nulla.
        </div>
        <div class="box" style="grid-area: box-11">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam blanditiis repellendus nobis, nemo alias dolore? Ipsam soluta quia molestias in, quisquam quod facilis repudiandae eligendi voluptates ea necessitatibus. Quisquam, dolorum!
        </div>
    </div>
</div>
