<div class="main-body">
    <div class="grid-container">
        <div class="box" style="grid-area: box-1">
            <div class="box-1-container">
                <div class="image-box" style="grid-area: image-box;">
                    <img src="assets/img/IMG_7116.jpg"/>
                </div>
                <div class="intro-box" style="grid-area: intro-box;">
                    <div class="status-box">
                        <p class="open-box">Available To Work</p>
                    </div>
                    <div class="name-box">
                        <div class="name">
                            <p>Ram Rainier Masubay Belleza</p>
                        </div>
                    </div>
                    <div class="occupation-box">
                        <div class="occupation">
                            <p>I'm a <strong>Software Developer</strong></p>
                        </div>
                    </div>
                </div>
                <div class="trait-box" style="grid-area: trait-box;">
                    <div class="ethnicity-box">
                        <p><img src="assets/icons/globe.png">Filipino & English</p>
                    </div>
                    <div class="location-box">
                        <p><img src="assets/icons/pin.png">Philippines</p>
                    </div>
                    <div class="age-box">
                        <p><img src="assets/icons/calendar.png">25 years old</p>
                    </div>
                    <div class="dance-box">
                        <p><img src="assets/icons/man-dancing-.png">Dancing</p>
                    </div>
                    <div class="video-box">
                        <p><img src="assets/icons/video-camera.png">Video Editing</p>
                    </div>
                    <div class="design-box">
                        <p><img src="assets/icons/image-gallery.png">Graphic Design</p>
                    </div>
                </div>
                <div class="link-box" style="grid-area: link-box;">
                    <button class="resume" style="grid-area: resume;">
                        <span>
                            <a href="assets/files/Belleza, Ram Rainier M - CV.pdf" download>
                                <img src="assets/icons/download.png">
                            </a>
                        </span>
                        <div class="resume-tooltip">
                            <span>Download My Resume</span>
                        </div>
                    </button>
                    <button class="email" style="grid-area: email;">
                        <span><img src="assets/icons/envelope.png"></span>
                        <span><a href="mailto:work.bramrainier@gmail.com">Hire Me</a></span>
                    </button>
                    <button class="github" style="grid-area: github;">
                        <span><img src="assets/icons/github.png"></span>
                        <span><a href="https://github.com/yohpooh" target="_blank">Github</a></span>
                    </button>
                    
                    <!--
                    <a href="assets/files/Belleza, Ram Rainier M - CV.pdf" download class="resume">
                        <img src="assets/icons/icons8-download-32.png">
                    </a>
                    <a href="mailto:work.bramrainier@gmail.com" class="email">
                        <img src="assets/icons/icons8-email-48.png">
                        <span>Hire Me</span>
                    </a>
                    <a href="https://github.com/yohpooh" class="github">
                        <span><img src="assets/icons/icons8-github-50.png"></span>
                        <span>Github</span>
                    </a>
                    <button class="resume"><img src="assets/icons/icons8-download-32.png">Download CV</button>
                    <button class="email"><img src="assets/icons/icons8-email-48.png">Hire Me</button>
                    <button class="github"><img src="assets/icons/icons8-github-50.png">Github</button>
                    -->
                </div>
            </div> 
        </div>
        <div class="box" style="grid-area: box-2">
            <div class="box-2-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/technical-service.png"></span>
                        <span class="s2">Services</span>
                    </h4>
                    <p>My services and experience that might help you.</p>
                </div>
                <div class="body-container">
                    <div class="scroller-left">
                        <div class="scroller-slide-left">
                            <div class="item-left">Web Development</div>
                            <div class="item-left">Website Rework</div>
                            <div class="item-left">Software Development</div>
                            <div class="item-left">Game Development</div>
                            <div class="item-left">Video Editing</div>
                            <div class="item-left">Graphic Design</div>
                        </div>
                        <div class="scroller-slide-left">
                            <div class="item-left">Web Development</div>
                            <div class="item-left">Website Rework</div>
                            <div class="item-left">Software Development</div>
                            <div class="item-left">Game Development</div>
                            <div class="item-left">Video Editing</div>
                            <div class="item-left">Graphic Design</div>
                        </div>
                    </div>

                    <div class="scroller-right">
                        <div class="scroller-slide-right">
                            <div class="item-right">Web Development</div>
                            <div class="item-right">Website Rework</div>
                            <div class="item-right">Software Development</div>
                            <div class="item-right">Game Development</div>
                            <div class="item-right">Video Editing</div>
                            <div class="item-right">Graphic Design</div>
                        </div>
                        <div class="scroller-slide-right">
                            <div class="item-right">Web Development</div>
                            <div class="item-right">Website Rework</div>
                            <div class="item-right">Software Development</div>
                            <div class="item-right">Game Development</div>
                            <div class="item-right">Video Editing</div>
                            <div class="item-right">Graphic Design</div>
                        </div>
                    </div>
                    
                    <!--
                    <script>
                        var copyLeft = document.querySelector(".scroller-slide-left").cloneNode(true);
                        document.querySelector(".scroller-left").appendChild(copyLeft);
                    </script>
                    <div class="scroller-one">
                        <ul class="scroll scroller-inner-one">
                            <li>Web Development</li>
                            <li>Website Rework</li>
                            <li>Software Development</li>
                            <li>Game Development</li>
                            <li>Video Editing</li>
                            <li>Graphic Design</li>
                        </ul>
                    </div>
                    <div class="scroller-two">
                        <ul class="scroll scroller-inner-two">
                            <li>Web Development</li>
                            <li>Website Rework</li>
                            <li>Software Development</li>
                            <li>Game Development</li>
                            <li>Video Editing</li>
                            <li>Graphic Design</li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="box test" style="grid-area: box-3">
            <div class="box-3-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/portfolio.png"></span>
                        <span class="s2">Personal Projects</span>
                    </h4>
                    <p>Here are some of personal projects I have worked on.</p>
                </div>
                <div class="box-3-body-container">
                    <p>To be added..</p>
                    <!-- BOX-3-->
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-4">
            <div class="box-4-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/blocks.png"></span>
                        <span class="s2">My Tech Stack</span>
                    </h4>
                    <p>The tech stack that I've experience in professional field.</p>
                </div>
                <div class="box-4-body-container">
                    <div class = "button-containers">
                        <div class="tech-box cpp" style="grid-area: cpp-box">
                            <div class="icon-container cpp-icon">
                                <img src="assets/icons/cpp-white.png" alt="">
                            </div>
                            <div class="text">
                                <div class="text-1">C++</div>
                                <div class="text-2">Qt Creator</div>
                            </div>
                            <div class="external-link">
                                <a href="https://www.qt.io/product/development-tools" target="_blank">
                                    <img src="assets/icons/external-link.png" alt="">
                                </a>
                            </div>
                        </div>
                        
                        <div class="tech-box delphi" style="grid-area: delphi-box">
                            <div class="icon-container delphi-icon">
                                <img src="assets/icons/delphi-white.png" alt="">
                            </div>
                            <div class="text">
                                <div class="text-1">Delphi</div>
                                <div class="text-2">Embarcadero</div>
                            </div>
                            <div class="external-link">
                                <a href="https://www.embarcadero.com/products/delphi" target="_blank">
                                    <img src="assets/icons/external-link.png" alt="">
                                </a>
                            </div>
                        </div>
                        
                        <div class="tech-box csharp" style="grid-area: csharp-box">
                            <div class="icon-container csharp-icon">
                                <img src="assets/icons/csharp-white.png" alt="">
                            </div>
                            <div class="text">
                                <div class="text-1">C#</div>
                                <div class="text-2">Version 13+</div>
                            </div>
                            <div class="external-link">
                                <a href="https://visualstudio.microsoft.com/#vs-section" target="_blank">
                                    <img src="assets/icons/external-link.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="tech-box java" style="grid-area: java-box">
                            <div class="icon-container java-icon">
                                <img src="assets/icons/java-white.png" alt="">
                            </div>
                            <div class="text">
                                <div class="text-1">Java</div>
                                <div class="text-2">Version Java SE 11+</div>
                            </div>
                            <div class="external-link">
                                <a href="https://www.java.com/en/" target="_blank">
                                    <img src="assets/icons/external-link.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-5">
            <div class="projects-count">
                <div class="text-1">
                    <h1>6</h1>
                    <img src="assets/icons/plus.png">
                </div>
                <div class="text-2">
                    <img src="assets/icons/project.png">
                    <h3>Projects</h3>
                    
                    <div class="projects-tooltip">
                        <span>This Includes Private/Public/Proffesional Projects</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-6">
            <div class="clients-count">
                <div class="text-1">
                    <h1>2</h1>
                    <img src="assets/icons/plus.png">
                </div>
                <div class="text-2">
                    <img src="assets/icons/customer.png">
                    <h3>Clients/Company</h3>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-7">
            <div class="years-count">
                <div class="text-1">
                    <h1>2</h1>
                    <img src="assets/icons/plus.png">
                </div>
                <div class="text-2">
                    <img src="assets/icons/badge.png">
                    <h3>Years of Experience</h3>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-8">
            <div class="box-8-container">
                <div class="box-8-icon">
                    <div class="box-8-icon-container">
                        <img src="assets/icons/work-team.png">
                    </div>
                </div>
                <div class="box-8-text-1">
                    <h2>Let's Work Together</h2>
                </div>
                <div class="box-8-text-2">
                    <!--
                        <ngx-typed-js [strings]="['reality.', 'existance.', 'life.', 'the internet!', 'infinity and beyond!', 'the pooh?']" [loop]="true" (completed)="doSmth()">
                            <h2>and make your ideas come to <span class="typing"></span></h2>
                        </ngx-typed-js>
                    -->
                    <h2>and make your ideas come to 
                        <div class="typing">
                            <ol>
                                <li><span>reality.</span></li>
                                <li><span>existance.</span></li>
                                <li><span>life.</span></li>
                                <li><span>the internet!</span></li>
                                <li><span>infinity!</span></li>
                                <li><span>the pooh?</span></li>
                            </ol>   
                        </div>
                    </h2>
                </div>
                <div class="box-8-buttons">
                    <button class="box-8-email">
                        <span>
                            <a href="mailto:work.bramrainier@gmail.com">
                                <img src="assets/icons/direct-mail.png">
                            </a>
                        </span>
                        
                        <div class="email-tooltip">
                            <span>Contact me through Email</span>
                        </div>
                    </button>
                    <button class="box-8-viber">
                        <span>
                            <a href="">
                                <img src="assets/icons/viber.png">
                            </a>
                        </span>

                        <div class="viber-tooltip">
                            <span>Contact me through Viber</span>
                        </div>
                    </button>
                    <button class="box-8-github">
                        <span>
                            <a href="https://github.com/yohpooh" target="_blank">
                                <img src="assets/icons/github.png">
                            </a>
                        </span>
                        
                        <div class="github-tooltip">
                            <span>Check my GitHub</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="box box-9" style="grid-area: box-9">
            <div class="box-9-container">
                <div class="box-9-text-1">
                    <div>Made with 💜 by </div>
                    <div class="box-9-name">yohpooh</div>
                </div>
                <div class="box-9-text-2">
                    <p>© 2025 All rights reserved</p>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-10">
            <div class="box-10-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/processing-time.png"></span>
                        <span class="s2">Work Experience</span>
                    </h4>
                    <p>My professional background experience.</p>
                </div>
                <div class="box-10-body-container">
                    <div class="first-experience">
                        <div class="exp-title">
                            <div class="exp-text-1">
                                <div class="exp-icon">
                                    <img src="assets/icons/polywick-logo-white.png" alt="">
                                </div>
                            </div>
                            <div class="exp-text-2">
                                <div class="exp-company">Polywick Graphics PH Corp.</div>
                                <div class="exp-date">October 2022 - January 2025</div>
                                <!-- <div class="exp-location">Alabang, Muntinlupa City</div> -->
                                <div class="exp-job-title">Software Developer</div>
                            </div>
                            <div class="external-link">
                                <a href="https://polywickstudio.com" target="_blank">
                                    <img src="assets/icons/external-link.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="exp-desc">
                            <ul>
                                <li>Assist in designing, developing, and testing software applications.</li>
                                <li>Write and maintain clean, efficient code</li>
                                <li>Debug and troubleshoot software issues.</li>
                                <li>Collaborate with senior developers and other team members.</li>
                                <li>Participate in code reviews and improve coding practices.</li>
                                <li>Learn and apply new technologies to projects.</li>
                                <li>Document development processes and technical specifications.</li>
                            </ul>
                            <!--
                            <div>
                                Assist in designing, developing, and testing software applications.
                            </div>
                            <div>
                                Write and maintain clean, efficient code.
                            </div>
                            <div>
                                Debug and troubleshoot software issues.
                            </div>
                            <div>
                                Collaborate with senior developers and other team members.
                            </div>
                            <div>
                                Participate in code reviews and improve coding practices.
                            </div>
                            <div>
                                Learn and apply new technologies to projects.
                            </div>
                            <div>
                                Document development processes and technical specifications.
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: box-11">
            <div class="box-11-container">
                <div class="header-container">
                    <h4>
                        <span class="s1"><img src="assets/icons/education.png"></span>
                        <span class="s2">Educational Background</span>
                    </h4>
                    <p>The educational institutions I attended and successfully graduated from.</p>
                </div>
                <div class="box-11-body-container">
                    <div class="educ-college">
                        <div class="text-1">
                            <div class="school">
                                <span>Don Honorio Ventura State University</span>
                                <span>D0n HoNor!o V3nTura S ate UNiv3rs!ty</span>
                                <span>6o# HoR nie V4ntUra St Te Unvershity</span>
                                <span>D%n HoN$ri! VBnturF S7a7e -n!v3rs!ty</span>
                                <span>Do^ h0noRio V$n7ura St^te UniVers5ty</span>
                                <span>Gon Ho3oTio V*ntuRa sTaTe Un!v3r5ity</span>
                                <span>D*n HCn8r!o ven ur4  t t  U%ive$sity</span>
                                <span>yoH H%n*r!o V-nturA $tat3 Un!v2rs5ty</span>
                                <span>Dom Hooori! Vuntuuu St9te Un^sve#s%ty</span>
                                <span>Don Honorio Ventura State University</span>
                            </div>
                            <div class="level">
                                <span>Tertiary</span>
                                <span>T3rt!Ary</span>
                                <span>TeRtiarY</span>
                                <span>T3rtiaRy</span>
                                <span>terTia5y</span>
                                <span>T3rti4ry</span>
                                <span>Tertiary</span>
                                <span>T#rt6ari</span>
                                <span>T$rTiaRy</span>
                                <span>Tertiary</span>
                            </div>
                        </div>
                        <div class="text-2">
                            <div class="sy">
                                <span>2018 - 2022</span>
                                <span>2-!8 - 20t2</span>
                                <span>20I8 - 20q2</span>
                                <span>C018 - 2C22</span>
                                <span>2B1K - 2-22</span>
                                <span>2K18 - 2032</span>
                                <span>2D1S - 202H</span>
                                <span>20!8 - 2K22</span>
                                <span>2P18 - 2SS2</span>
                                <span>2018 - 2022</span>
                            </div>
                            <div class="location">
                                <span>Bacolor, Pampanga</span>
                                <span>B4c0loR, P4mPanga</span>
                                <span>BaColo9, P-mp4nga</span>
                                <span>B4coLor, P4m9an6a</span>
                                <span>B4co*or, PamP*nGa</span>
                                <span>B$co&or, P6mp&nga</span>
                                <span>bac-l0r, PaMpanLa</span>
                                <span>Ba1OlOr, PaMpaNga</span>
                                <span>B4c01or, Paapanaa</span>
                                <span>Bacolor, Pampanga</span>
                            </div>
                        </div>
                    </div>
                    <div class="educ-shs">
                        <div class="text-1">
                            <div class="school">
                                <span>Lubao National High School</span>
                                <span>LUb4o N4ti0naL H!gH Sch00l</span>
                                <span>LuBa0 Na%ioNa7 HiGh S4hool</span>
                                <span>Lu34o N4t!on4l Hi6h Sch2$l</span>
                                <span>lUb4o N%t^onal H^gh ScHooL</span>
                                <span>LuBaO N4tToNal Hig% scHool</span>
                                <span>7uBao National *igh -C-00L</span>
                                <span>LUb$o Natio$a5 H&gh Sch--l</span>
                                <span>L#b$o Na#ional Hi^h Sch**L</span>
                                <span>Lubao National High School</span>
                            </div>
                            <div class="level">
                                <span>Senior High</span>
                                <span>S3nL0r H^gh</span>
                                <span>SE%ior H!gH</span>
                                <span>s33ior Hi^h</span>
                                <span>$emiQr HiGh</span>
                                <span>-enior *igh</span>
                                <span>$enICr H&gh</span>
                                <span>S5n!or Hig%</span>
                                <span>SF^ior Hi6h</span>
                                <span>Senior High</span>
                            </div>
                        </div>
                        <div class="text-2">
                            <div class="sy">
                                <span>2016 - 2018</span>
                                <span>20i6 - 2-!8</span>
                                <span>2-1T - 20I8</span>
                                <span>2016 - C018</span>
                                <span>201F - 2B1K</span>
                                <span>#O16 - 2K18</span>
                                <span>201% - 2D1S</span>
                                <span>2K16 - 20!8</span>
                                <span>C01$ - 2P18</span>
                                <span>2016 - 2018</span>
                            </div>
                            <div class="location">
                                <span>Lubao, Pampanga</span>
                                <span>LUb4o, P4mPanga</span>
                                <span>LuBa0, P-mp4nga</span>
                                <span>Lu34o, P4m9an6a</span>
                                <span>lUb4o, PamP*nGa</span>
                                <span>LuBaO, P6mp&nga</span>
                                <span>7uBao, PaMpanLa</span>
                                <span>LUb$o, PaMpaNga</span>
                                <span>L#b$o, Paapanaa</span>
                                <span>Lubao, Pampanga</span>
                            </div>
                        </div>
                    </div>
                    <div class="educ-jhs">
                        <div class="text-1">
                            <div class="school">
                                <span>Lubao National High School</span>
                                <span>LUb4o N4ti0naL H!gH Sch00l</span>
                                <span>LuBa0 Na%ioNa7 HiGh S4hool</span>
                                <span>Lu34o N4t!on4l Hi6h Sch2$l</span>
                                <span>lUb4o N%t^onal H^gh ScHooL</span>
                                <span>LuBaO N4tToNal Hig% scHool</span>
                                <span>7uBao National *igh -C-00L</span>
                                <span>LUb$o Natio$a5 H&gh Sch--l</span>
                                <span>L#b$o Na#ional Hi^h Sch**L</span>
                                <span>Lubao National High School</span>
                            </div>
                            <div class="level">
                                <span>Junior High</span>
                                <span>JunL0r H^gh</span>
                                <span>jU%ior H!gH</span>
                                <span>J33ior Hi^h</span>
                                <span>JumiQr HiGh</span>
                                <span>-unior *igh</span>
                                <span>J$nICr H&gh</span>
                                <span>J5n!or Hig%</span>
                                <span>JF^ior Hi6h</span>
                                <span>Junior High</span>
                            </div>
                        </div>
                        <div class="text-2">
                            <div class="sy">
                                <span>2012 - 20i6</span>
                                <span>2012 - 2016</span>
                                <span>2012 - 2-1T</span>
                                <span>-KI2 - 2016</span>
                                <span>2012 - 201F</span>
                                <span>20i2 - #O16</span>
                                <span>C012 - 201%</span>
                                <span>20!2 - 2K16</span>
                                <span>2O12 - C01$</span>
                                <span>2012 - 2016</span>
                            </div>
                            <div class="location">
                                <span>Lubao, Pampanga</span>
                                <span>LUb4o, P4mPanga</span>
                                <span>LuBa0, P-mp4nga</span>
                                <span>Lu34o, P4m9an6a</span>
                                <span>lUb4o, PamP*nGa</span>
                                <span>LuBaO, P6mp&nga</span>
                                <span>7uBao, PaMpanLa</span>
                                <span>LUb$o, PaMpaNga</span>
                                <span>L#b$o, Paapanaa</span>
                                <span>Lubao, Pampanga</span>
                            </div>
                        </div>
                    </div>
                    <div class="educ-elem">
                        <div class="text-1">
                            <div class="school">
                                <span>Lubao Elementary School</span>
                                <span>LUb4o EleMentaRy Sch00l</span>
                                <span>LuBa0 ElEm3nTary S4hool</span>
                                <span>Lu34o EleMentar% Sch2$l</span>
                                <span>lUb4o 3lem#nt4ry ScHooL</span>
                                <span>LuBaO ELem^nta!y scHool</span>
                                <span>7uBao eLemeN*ary -C-00L</span>
                                <span>LUb$o Elementary Sch--l</span>
                                <span>L#b$o E7ementGr- Sch**L</span>
                                <span>Lubao Elementary School</span>
                            </div>
                            <div class="level">
                                <span>Primary</span>
                                <span>PRimarY</span>
                                <span>Pr!mary</span>
                                <span>Prim4ry</span>
                                <span>priMary</span>
                                <span>Primary</span>
                                <span>P$imari</span>
                                <span>Pri^ary</span>
                                <span>Pr-mary</span>
                                <span>Primary</span>
                            </div>
                        </div>
                        <div class="text-2">
                            <div class="sy">
                                <span>2006 - 2012</span>
                                <span>2-06 - 2012</span>
                                <span>20*6 - 2012</span>
                                <span>200G - -KI2</span>
                                <span>20-6 - 2012</span>
                                <span>C006 - 20i2</span>
                                <span>2K06 - C012</span>
                                <span>2--6 - 20!2</span>
                                <span>2*06 - 2O12</span>
                                <span>2006 - 2012</span>
                            </div>
                            <div class="location">
                                <span>Lubao, Pampanga</span>
                                <span>LUb4o, P4mPanga</span>
                                <span>LuBa0, P-mp4nga</span>
                                <span>Lu34o, P4m9an6a</span>
                                <span>lUb4o, PamP*nGa</span>
                                <span>LuBaO, P6mp&nga</span>
                                <span>7uBao, PaMpanLa</span>
                                <span>LUb$o, PaMpaNga</span>
                                <span>L#b$o, Paapanaa</span>
                                <span>Lubao, Pampanga</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
