<div class="main-body">
    <div class="grid-container">
        <div class="box" style="grid-area: box-1">
            <div class="box-1-container">
                <div class="image-box">
                    <img src="assets/IMG_3675.JPG"/>
                </div>
                <div class="intro-box">
                    <div class="status-box">
                        <p>Open To Work</p>
                    </div>
                    <div class="name-box">
                        <div class="name">
                            <p>Ram Rainier Masubay Belleza</p>
                        </div>
                    </div>
                    <div class="occupation-box">
                        <div class="occupation">
                            <p>I'm a Software Developer</p>
                        </div>
                    </div>
                </div>
                <div class="trait-box">
                    <div class="ethicity-box">
                        <p>Filipino & English</p>
                    </div>
                    <div class="location-box">
                        <p>Philippines</p>
                    </div>
                    <div class="age-box">
                        <p>24y/o</p>
                    </div>
                    <div class="dance-box">
                        <p>Dancing</p>
                    </div>
                    <div class="video-box">
                        <p>Video Editing</p>
                    </div>
                    <div class="design-box">
                        <p>Graphic Design</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="box" style="grid-area: box-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium molestiae nulla ad, quod expedita at fugit, modi maxime eveniet odio harum laborum aspernatur veniam molestias tempora. Deserunt asperiores minima tenetur!
        </div>
        <div class="box" style="grid-area: box-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vitae facere quam recusandae incidunt quae, architecto eaque eius cum accusantium ut sed cumque modi asperiores ullam harum. In, omnis eveniet!
        </div>
        <div class="box" style="grid-area: box-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur, impedit quidem eius eos dolor enim ipsam ad earum, dolores repellendus magnam aliquam in saepe sequi aperiam corporis consequuntur nisi?
        </div>
        <div class="box" style="grid-area: box-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officiis aliquam alias consectetur? Corporis optio obcaecati, fuga cupiditate maiores placeat molestiae, iusto facilis at cumque accusantium! Aspernatur alias architecto at?
        </div>
        <div class="box" style="grid-area: box-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat ullam ipsum non ad incidunt laboriosam recusandae reprehenderit officiis dolor quos minima tempora fugit eveniet, nulla voluptates possimus expedita! Eos.
        </div>
        <div class="box" style="grid-area: box-7">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi numquam eius quasi, minus perspiciatis autem dignissimos saepe, nobis ipsa, accusantium error nihil. Ad molestias impedit consequuntur voluptatibus, consectetur alias maiores?
        </div>
        <div class="box" style="grid-area: box-8">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam, ut necessitatibus pariatur suscipit molestias illo natus hic nisi eveniet repudiandae quidem in tempora magni laborum et similique nobis quod.
        </div>
        <div class="box" style="grid-area: box-9">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit vero minima asperiores aut, laboriosam eos dignissimos qui hic consequatur perferendis ipsum, aperiam ea neque architecto deserunt tempora quam repudiandae ullam.
        </div>
        <div class="box" style="grid-area: box-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur amet error dolor sed voluptatum nulla provident, dicta earum cupiditate? Rerum, voluptas deleniti. Mollitia voluptas iste eaque vitae perspiciatis expedita nulla.
        </div>
        <div class="box" style="grid-area: box-11">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam blanditiis repellendus nobis, nemo alias dolore? Ipsam soluta quia molestias in, quisquam quod facilis repudiandae eligendi voluptates ea necessitatibus. Quisquam, dolorum!
        </div>
    </div>
</div>
